.super-mario {
  position: absolute;
  width: 200px;
  z-index: 1;
}

.goomba {
  position: absolute;
  width: 100px;
  top: 370px;
  left: 70px;
  z-index: 2;
}

.baloon {
  position: absolute;
  left: 400px;
  z-index: 3;
}

.word {
  position: absolute;
  left: 406px;
  top: 104px;
  font-size: 28px;
  z-index: 4;
}

.bowser {
  position: absolute;
  width: 450px;
  left: 700px;
  top: -20px;
}