* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.poke {
  display: flex;
  flex-grow: 2;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
